<!DOCTYPE html>
<html lang="es">

<head> <!-- Encabezado de la pagina web-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Quienes somos | Correo COR</title> <!--Nombre que figura en el Navegador-->
    <meta name="description" content="Esta es la página de la empresa logistica Correo COR, en esta seccion podran encontrar parte de nuestro historia, nuestra vision y mision">
    <meta name="keywords" content="logistica, correo, paquetería, postal, sucursales">
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>

<body> <!--Inicio Cuerpo de la pagina web-->
    <header class="header"> <!-- Inicio de Encabezado de la pagina web -->
        <nav class="navbar navbar-expand-lg navbar-light"> <!--Inicio Menu de Navegacion-->
            <a class="navbar-brand" href="../index.html"><img src="../multimedia/Logo.png" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./quienes_somos.html">Quienes somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./servicios.html">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./sucursales.html">Sucursales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" justify-content=>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav> <!--Fin Menu de Navegacion-->
    </header> <!--Fin Encabezado de la pagina web-->

    <hr>

    <main class="container-fluid"> <!--Inicio Seccion Principal-->
        <section class="grillaQuienesSomos">
            <div class="grillaQuienesSomos__quienesSomos">
                <h1 class="tituloPrincipal">Quienes Somos</h1>
            </div>
            <div class="grillaQuienesSomos__historia">
                <h2>Historia</h2>
                <p>
                    Somos una empresa internacional con más de 35 años de experiencia en Soluciones Logísticas.
                    Más de 2000 personas trabajan diariamente para atender las necesidades de nuestros clientes,
                    que nos eligen a través de nuestra red mundial de filiales.
                </p>
                <p>
                    Brindamos soluciones logísticas a empresas, tanto en e-commerce como en logística general y salud.
                </p>
                <p>
                    La clave de nuestra solidez, trayectoria y continuo crecimiento es y ha sido siempre el desarrollo 
                    de relaciones mutuamente beneficiosas con nuestros clientes bajo el concepto de “TAILOR MADE”, 
                    generando servicios a la medida de las necesidades específicas de cada uno de ellos, transformándonos 
                    en sus aliados estratégicos.
                </p>
            </div>
            <div class="grillaQuienesSomos__videoHistoria">
                <h2>La historia de los correos</h2>
                <video class="scala" controls>
                    <source src="../multimedia/la_historia_de_correos.mp4" type="video/mp4">
                </video>
            </div>
            <div class="grillaQuienesSomos__mision">
                <h2>Valores, vision y Mision</h2>
                <p>
                    Prestar servicios de soluciones logísticas integrales en todo el mundo, priorizando las necesidades
                    de los clientes, con el más alto nivel de servicio, seguridad, alta adaptabilidad y las mejores 
                    prácticas, según las normativas internacionales y que en cada país correspondan.
                </p>
                <p>
                    Ser reconocidos por nuestra confiabilidad, calidad, flexibilidad, alta eficiencia y eficacia, para 
                    la implementación de soluciones logísticas y de gestión, alcanzando y/o superando las expectativas de 
                    nuestros clientes.
                </p>
            </div>
            <div class="grillaQuienesSomos__sucursales">
                <p>
                    <a href="./sucursales.html">Conocé nuestras Sucursales </a>
                </p>
            </div>
        </section>
    </main> <!--Fin Seccion Principal-->

    <hr>

    <footer class="pieDePagina"> <!--Inicio Pie de Pagina-->
        <div class="container">
            <div class="pieDePagina__firma">
                <p>Atencion al cliente</p>
                <p>consulta@correocor.com.ar</p>
                <p>2021 - Correo COR</p>
            </div>
        </div>
    </footer> <!--Fin Pie de Pagina-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body> <!--Fin Cuerpo de la pagina web-->
</html>