<!DOCTYPE html>
<html lang="es">

<head> <!-- Encabezado de la pagina web-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Servicios | Correo COR</title> <!--Nombre que figura en el Navegador-->
    <meta name="description" content="Esta es la página de la empresa logistica Correo COR, en esta seccion podran encontrar los servicios realizados y algunas caracteristicas de los mismos">
    <meta name="keywords" content="logistica, correo, paquetería, postal, sucursales">
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>

<body> <!--Inicio Cuerpo de la pagina web-->
    <header class="header"> <!-- Inicio de Encabezado de la pagina web -->
        <nav class="navbar navbar-expand-lg navbar-light"> <!--Inicio Menu de Navegacion-->
            <a class="navbar-brand" href="../index.html"><img src="../multimedia/Logo.png" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./quienes_somos.html">Quienes somos</a>
                </li>
                <li class="nav-item  active">
                    <a class="nav-link" href="./servicios.html">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./sucursales.html">Sucursales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" justify-content=>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav> <!--Fin Menu de Navegacion-->
    </header> <!--Fin Encabezado de la pagina web-->

    <hr>

    <main> <!--Inicio Seccion Principal-->
        <section class="content">
            <h1 class="tituloPrincipal">Servicios</h1>
            <div>
                <p>
                    Brindamos servicios de distribución de correspondencia para el segmento corporativo con variados
                    esquemas de prestación y tiempos de entrega, tanto en el ámbito nacional como internacional.
                </p>
                <p>
                    Nuestras soluciones de fullfilment (o finishing) cuentan además con provisión de insumos,
                    impresión de datos variables y suministro de packaging.
                </p>
                <p>
                    Basados en nuestra plataforma informática brindamos visibilidad y trazabilidad de los envíos a 
                    partir de nuestro sitio web.
                </p>
                <p>
                    Diseñamos soluciones a la medida de las necesidades del mercado.
                </p>
            </div>
        </section>
    </main> <!--Fin Seccion Principal-->

    <hr>

    <section class="colorSeccion"> <!--Inicio Seccion Postal-->
        <h2>Postal</h2>
        <div>
            <p>
                Contamos con Servicio postal para cumplir las diferentes necesidades de tu empresa.
            </p>
            <li>Simple</li>
            <li>Carta con Acuse</li>
            <li>Carta confrontada</li>
            <li>Tarjetas de crédito/débito</li>
        </div>
    </section> <!--Fin Seccion Postal-->

    <hr>

    <section class="colorSeccion--color2"> <!--Inicio Seccion Paqueteria-->
        <h2>Paqueteria</h2>
        <div>
            <p>
                Contamos con Servicio de Paqueteria para cumplir las diferentes necesidades de tu empresa.
            </p>
            <li>E-commerce</li>
            <li>Encomiendas</li>
            <li>Entrega Obsequios Empresariales</li>
        </div>
    </section> <!--Fin Seccion Paqueteria-->

    <hr>

    <section class="colorSeccion"> <!--Inicio Seccion Transporte-->
        <h2>Transporte</h2>
        <div>
            <p>
                Contamos con Servicio de Transporte para cumplir las diferentes necesidades de tu empresa.
            </p>
            <li>Distribucion interna entre sucursales</li>
            <li>Traslado de Cajas a Depositos de Almacenamiento</li>
        </div>
    </section> <!--Fin Seccion Transporte-->

    <hr>

    <footer class="pieDePagina"> <!--Inicio Pie de Pagina-->
        <div class="container">
            <div class="pieDePagina__firma">
                <p>Atencion al cliente</p>
                <p>consulta@correocor.com.ar</p>
                <p>2021 - Correo COR</p>
            </div>
        </div>
    </footer> <!--Fin Pie de Pagina-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body> <!--Fin Cuerpo de la pagina web-->
</html>